#division1{
    background-color: steelblue;
    color: white;
    margin: 30px;
    padding: 30px;
}
#division1 :hover{
    background-color: grey;
}

.mydivision{
    background-color: green;
    color: white;
    padding: 30px;
    margin-top: 60px;
}

.main{
    display: flex;
    main{
        margin-top: 50px;
    }
}