#ourservices1 {
    background-color: white;
    color: white;
    margin: 30px;
    float: ;
}

.ourservices2{
    background-color: white;
    color: white;
    margin: 30px;
}

.ourservices3{
    background-color: white;
    color: white;
    margin: 30px;
}